<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"></link>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/app.css"></link>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
	<script src="js/modernizr.custom.js"></script>
</head>
<body>
	<div class="jumbotron">
		<h1 class="heading">CoverArt</h1>
		<div class="row">
		  <div class="col-lg-4"></div>
		  <div class="col-lg-4">
		    <div class="input-group">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
		      </span>
		      <input type="text" class="form-control" ng-model="searchText" placeholder="Search Comics">
		    </div><!-- /input-group -->
		  </div><!-- /.col-lg-6 -->
		  <div class="col-lg-4"></div>
		</div><!-- /.row -->
	</div>

	<div class="container" ng-controller="ComicController as comicCtrl" data-masonry-options='{ "transitionDuration": 0 }' 
		infinite-scroll='comicFactory.nextPage()' infinite-scroll-disabled='comicFactory.busy' infinite-scroll-distance='1' initial-load-directive>
		<ul class="grid effect-1" id="grid" masonry>
			<li class="masonry-brick" ng-repeat="comic in comicFactory.items | filter:searchText" ng-show="comic.hasImage" repeat-directive>
		  		<img ng-src="{{comic.image}}"/>
		  	</li>
		</ul>
	</div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script type="text/javascript" src="bower_components/get-style-property/get-style-property.js"></script>
    <script type="text/javascript" src="bower_components/get-size/get-size.js"></script>
    <script type="text/javascript" src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script type="text/javascript" src="bower_components/eventie/eventie.js"></script>
    <script type="text/javascript" src="bower_components/doc-ready/doc-ready.js"></script>
    <script type="text/javascript" src="bower_components/matches-selector/matches-selector.js"></script>
    <script type="text/javascript" src="bower_components/outlayer/item.js"></script>
    <script type="text/javascript" src="bower_components/outlayer/outlayer.js"></script>
    <script type="text/javascript" src="bower_components/imagesloaded/imagesloaded.js"></script>
    <script type="text/javascript" src="bower_components/masonry/dist/masonry.pkgd.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="bower_components/classie/classie.js"></script>
	<script type="text/javascript" src="js/AnimOnScroll.js"></script>
    <script type="text/javascript" src="bower_components/angular-masonry/angular-masonry.js"></script>
    <script type="text/javascript" src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
  </body>
</html>